<html>
<body class="gossip text-white">
<% 10.times do %>
<br/>
<% end %>
<center>
	<% g = Gossip.find(params[:id]) %>
<h1>  <a class="text-white" href="/user/<%= g.user.first_name%>"> <%= g.user.first_name%></a></h1>
<br/>
	<h2><p>	<%= g.content%> </p></h2>
  <p> Date de création : <%= g.created_at%> </p>
  <br/>
  <br/>
<p>	Gossip numéro <%=params[:id]%>  </p>
<!--	<a href="/edit/gossip/<%= params[:id]%>">Modifier</a> -->
<br/>
<p> <a class="text-white" <%= link_to "Retour au menu des gossips ", root_path %></a>
	<br/>
	<br/>
	<br/>


</body>
</html>
